@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 288px;
  min-height: 2724px;
  margin: 0 16px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media screen and (min-width: 470px) {
  .photo-grid {
    max-width: 470px;
    min-height: 1370px;
    justify-items: center;
  }
}

@media screen and (min-width: 595px) {
  .photo-grid {
    max-width: 595px;
    min-height: 1370px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .photo-grid {
    min-height: 1664px;
    max-width: 720px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 24px;
  } 
}

@media screen and (min-width: 999px) {
  .photo-grid {
    min-height: 1000px;
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    margin: 0 auto;
     } 
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    min-height: 942px;
    max-width: 928px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    margin: 0 48px;
  }  
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    min-height: 671px;
    max-width: 1184px;
    padding-bottom: 122px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  } 
}