.places {
  max-width: 320px;
  min-height: 5172px;
  margin: 0 auto;  
  padding-bottom: 64px
}

@media screen and (min-width: 595px) {
  .places {
    max-width: 595px;
    margin: 0;
  }
}

@media screen and (min-width: 665px) {
  .places {
    min-height: 4440px;
  }
}

@media screen and (min-width: 768px) {
  .places {
    min-height: 3148px;
    max-width: 720px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 999px) {
  .places {
    max-width: 900px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    min-height: 3432px;
    max-width: 928px;
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    min-height: 3434px;
    max-width: 984px;
    margin: 0 148px;
  }
}