.intro__list {
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  min-height: 72px;
  min-width: 288px;
  list-style-type: none;
  padding: 0 16px 64px;
  margin: 0;
}

.intro__list_bold {
  font-weight: bold;
  padding: 0;
}

@media screen and (min-width: 665px) {
  .intro__list {
    min-width: 720px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .intro__list {
    min-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    min-width: 690px;
  }  
}

@media screen and (min-width: 1280px) {
  .intro__list {
    min-width: 690px;
   }
}