.intro__list {
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  min-height: 72px;
  list-style-type: none;
  padding: 0 16px 64px 16px;
  margin: 0;
}

.intro__list_bold {
  font-weight: bold;
  padding: 0;
}

@media screen and (min-width: 595px) {
  .intro__list {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 665px) {
  .intro__list {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .intro__list {
    width: 690px;
    padding: 0 0 70px 12px;
  }
}

@media screen and (min-width: 1024) {
  .intro__list {
    min-width: 690px;
    padding: 0 0 0 48px;
  }  
}

@media screen and (min-width: 1280px) {
  .intro__list {
    min-width: 690px;
    padding: 0 442px 92px 148px;
  }
}