.photo-grid__item {
  max-width: 288px;
  min-height: 216px;
  background-size: contain;
  background-repeat: no-repeat;
}  

.photo-grid__item:nth-child(1) {
  background-image: url(../../../images/photo-grid-highway.jpg);  
}

.photo-grid__item:nth-child(2) {
  background-image: url(../../../images/photo-grid-lake.jpg);  
}

.photo-grid__item:nth-child(3) {
  background-image: url(../../../images/photo-grid-seagulls.jpg);  
}

.photo-grid__item:nth-child(4) {
  background-image: url(../../../images/photo-grid-boise.jpg);  
}

.photo-grid__item:nth-child(5) {
  background-image: url(../../../images/photo-grid-fog.jpg);  
}

.photo-grid__item:nth-child(6) {
  background-image: url(../../../images/photo-grid-valley.jpg);  
}

.photo-grid__item:nth-child(7) {
  background-image: url(../../../images/photo-grid-pass.jpg);  
}

.photo-grid__item:nth-child(8) {
  background-image: url(../../../images/photo-grid-twig.jpg);  
}

.photo-grid__item:nth-child(9) {
  background-image: url(../../../images/photo-grid-clouds.jpg);  
}

.photo-grid__item:nth-child(10) {
  background-image: url(../../../images/photo-grid-oasis.jpg);  
}

.photo-grid__item:nth-child(11) {
  background-image: url(../../../images/photo-grid-wires.jpg);  
}

.photo-grid__item:nth-child(12) {
  background-image: url(../../../images/photo-grid-road.jpg);  
}

@media screen and (min-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
    min-height: 264px;    
  }
}

@media screen and (min-width: 999px) {
  .photo-grid__item {
    max-width: 325px;
    min-height: 240px;    
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__item {
    max-width: 300px;
    min-height: 225px;
  }   
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    max-width: 284px;
    min-height: 213px;
  }
}