.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
  min-height: 88px;
  max-width: 288px;
  padding: 0 16px 16px;
  margin: 0 auto;
}

@media screen and (min-width: 665px) {
  .lead__title {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    min-height: 200px;
    max-width: 720px;
    padding: 0 24px 32px;
   }
}

@media screen and (min-width: 1240px) {
  .lead__title {
    padding: 0 152px 32px;
   }
}