.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  min-width: 288px;
  min-height: 90px;
  padding: 0 16px 32px;
  margin: 0;  
}

.intro__text:last-of-type {
  font-size: 16px;
  line-height: 26px;
  min-height: 470px;  
}

@media screen and (min-width: 440px) {
  .intro__text:last-of-type {
    min-height: 400px;
  }
}

@media screen and (min-width: 595px) {
  .intro__text {
    min-height: 60px;
  }
  
  .intro__text:last-of-type {
    min-height: 0;
  }
}

@media screen and (min-width: 665px) {
  .intro__text {
    min-width: 500px;
    padding: 0 0 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .intro__text {
    line-height: 34px;
    min-height: 68px;
    min-width: 720px;
    padding: 0 0 32px;
  }

  .intro__text:last-of-type {
    min-height: 183px;
  }  
}

@media screen and (min-width: 1024px) {
  .intro__text {
    min-width: 690px;
    padding: 0 0 32px;
  }
  
  .intro__text:last-of-type {
    min-height: 209px;
   }
}

@media screen and (min-width: 1280px) {
  .intro__text {
    min-width: 690px;
    min-height: 68px;
  }
  
  .intro__text:last-of-type {
    min-height: 209px;
  }
}