@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 288px;
  min-height: 841px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 470px) {
  .intro {
    max-width: 388px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 595px) {
  .intro {
    max-width: 595px;
    min-height: 640px;
    }
}

@media screen and (min-width: 665px) {
  .intro {
    max-width: 665px;
    min-height: 700px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 420px) {
  .intro {
    max-width: 400px; 
    padding: 0 15px;
  }
}

@media screen and (min-width: 595px) {
  .intro {
    max-width: 475px; 
  }
}

@media screen and (min-width: 768px) {
  .intro {
    min-height: 543px;
    max-width: 720px; 
    margin: 0; 
    padding: 0 24px 88px;  
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    min-height: 569px;
    max-width: 690px;
    padding: 0 48px 92px;
  } 
}  

  @media screen and (min-width: 1280px) {
    .intro {
      max-width: 690px;
      padding: 0 148px 92px;
    } 
  }  
