.header__container {
  min-width: 288px;
  min-height: 36px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 16px 50px;
}

@media screen and (min-width: 360px) {
  .header__container {
    max-width: 360px;
  }
}

@media screen and (min-width: 470px) {
  .header__container {
    max-width: 470px;
  }
}

@media screen and (min-width: 665px) {
  .header__container {
    max-width: 665px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    min-width: 720px;
    min-height: 44px;
    padding: 34px 24px 50px;
  }
}

@media screen and (min-width: 1100px) {
  .header__container {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    min-width: 928px;
    padding: 34px 48px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    min-width: 984px;
    padding: 34px 148px 58px;
    margin: 0;
  }
}