.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  min-height: 14px;
  max-width: 183px;
  padding: 8px 0 64px 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    padding: 8px 0 88px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding: 8px 0 92px;
 }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    align-self: flex-start;
    padding: 8px 0 0;
 }
}