.cover__title {
  width: 90%;
  min-height: 35px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  padding: 51px 16px 16px;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__title {
    min-height: 76px;
    font-size: 72px;
    padding: 0 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    min-height: 76px;
    padding: 233px 0 32px;
  }  
}

@media screen and (min-width: 1280px) {
  .cover__title {
    min-height: 76px;
    padding: 283px 0 32px;
  }
}