@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
  margin: 0 auto;
  list-style-type: none;
  padding: 0 0 48px; 
  color: #aaaaaa;
}

@media screen and (min-width: 595px) {
  .place {
    max-width: 595px;
    margin: 0 16px;
  }
}

@media screen and (min-width: 665px) {
  .place {
    max-width: 665px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    padding: 0 24px 72px;
    margin: 0;
    max-width: 720px;
    display: grid;
    grid-template-columns: 340px 352px;
    grid-template-rows: repeat(2, auto);
    gap: 24px 28px;
    grid-template-areas: "title website" "image paragraphs";
  } 
}

@media screen and (min-width: 999px) {
  .place {
    grid-template-columns: 400px 420px;
    margin: 0 auto;
  }
}  

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: repeat(2, auto);
    gap: 24px 32px;
    padding: 0 48px 110px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, auto);
    max-width: 984px;
    gap: 24px 40px;
    padding: 0 0 80px;    
  } 
}